    body{
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    .orange{
        color: orange;
    }
    h1{
        font-size: 50px;
    }
    .flexible-container{
        display: flex;
        margin-bottom: 150px;
    }
    .bakcgraund-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }
    .dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .half-width{
        width: 50%;
        padding-left: 2%;
        
    }
    .half-width img{
        width: 80%;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange, tomato);
        padding: 10px 40px;
        border-radius: 5px;
        font-weight: 700;
        color: white;
    }
    .Experiences-item{
        box-shadow: 10px 10px 40px grey;
        width: 40%;
        margin-left: 4%;
        margin-right: 4%;
        padding-left: 20px;
        border-radius: 10px;
       
    }
    .experiences-area{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
    }
    #devoloper-Experiences{
        border-left: 7px solid;
        border-image: linear-gradient(#1900ffea, #09f3e0);
        border-image-slice: 1;
    }
    #full-devoloper-Experiences{
        border-left: 7px solid;
        border-image: linear-gradient(hsla(345, 90%, 51%, 0.966), #e630cd);
        border-image-slice: 1;
    }
    footer p {
        text-align: center;
    }